/vendor/

/writable/debugbar/*
!/writable/debugbar/.gitkeep
/writable/logs/*
!/writable/logs/.gitkeep
/writable/session/*
!/writable/session/.gitkeep
/writable/cache/*
!/writable/cache/.gitkeep
/writable/uploads/*
!/writable/uploads/.gitkeep

/composer_error.txt
/debug_db.php
/debug_writepath.php
/init_db.php
/logout_test.txt
/migrate_output.txt
/error_log*.txt